<div class="closing content" fxLayout="row" fxLayoutAlign="center center">
    <div fxLayout="column" fxLayoutAlign="center center" class="w-100-p">
        <div fxFlex class="mb-16">
            <button mat-raised-button class="mr-8" routerLink="/games">
                <mat-icon class="fs-24">navigate_next</mat-icon>
                Start battle
            </button>
        </div>

        <iframe id="teamsI" width="100%" height="800px" frameborder="0"
            src="https://pickerwheel.com/tools/random-team-generator/">
        </iframe>
    </div>
</div>