@import "src/app/app.component.scss";

.star {
    transform: scale(1.5);
    color: yellow;
    animation: zoominoutsinglefeatured 1s infinite;
}

@keyframes zoominoutsinglefeatured {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.5, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}
h2,
.h2 {
    margin-bottom: 0px;
}

.Timer {
    position: absolute;
    margin-top: 550px;
    margin-left: 600px;
}

.alert {
    padding: 8px;
    border: 1px solid #cacaca;
    border-radius: 3px;

    animation: team-warning 2s 1;
    -webkit-animation: team-warning 2s 1;
    animation-fill-mode: forwards;

    animation-delay: 30s;
    -webkit-animation-delay: 30s; /* Safari and Chrome */
    -webkit-animation-fill-mode: forwards;
}
.warn-alert {
    border-left: 2px solid rgb(255, 145, 0);
    mat-icon {
        color: rgb(255, 145, 0);
        font-family: "Material Icons Round";
    }
}

@keyframes team-warning {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@-webkit-keyframes team-warning {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
