<img src="/assets/images/custom/team/closing.gif" alt="" class="banner">

<div class="closing content" fxLayout="row" fxLayoutAlign="center center">
    <div fxLayout="column" fxLayoutAlign="center center" class="w-100-p container">
        <button type="button" [ngClass]="'mute_'+mute" mat-fab (click)="muteToggle()">
            <mat-icon class=""> {{ mute? 'volume_up' : 'volume_off'}}</mat-icon>
        </button>
        <h1 class="">Congratulations!!!</h1>
        <div fxFlex fxLayout="row" class="mb-80">

            <mat-grid-list cols="4" rowHeight="400px">
                <mat-grid-tile *ngFor="let team of teamsData; let i=index;" [colspan]="team.colspan" rowspan="1">

                    <mat-card [class]="'place_'+(i+1)" fxFlex>
                        <mat-card-header>
                            <mat-card-title>
                                 {{team.team}} Place {{team.place + 1}}
                            </mat-card-title>
                            <mat-card-subtitle>
                                {{team.team}} with {{team.score}} total points
                            </mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <div *ngFor="let member of team.members">
                                <div fxLayout="row" fxLayoutAlign="space-between center">
                                    <div fxFlex>
                                        <span matBadgeSize="medium" matBadgeOverlap="false" matBadgeColor="warn"
                                            [matBadge]="member.score">
                                            {{member.name}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </mat-card-content>

                    </mat-card>

                </mat-grid-tile>
            </mat-grid-list>

        </div>
        <mat-card class="pos" id="pos" fxFlex>
            <mat-card-header>
                <mat-card-title>
                    Person of the series
                    <h2>{{pos.name}}</h2>
                </mat-card-title>
                <mat-card-subtitle>
                    with {{pos.score}} total points
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <img src="/assets/images/custom/team/pos.png" alt="">
            </mat-card-content>
        </mat-card>
        <div fxFlex class="mb-16">
            <button mat-raised-button class="mr-8" routerLink="/teams">
                <mat-icon class="fs-24">navigate_before</mat-icon>
                Re-arrange teams
            </button>
            <button mat-raised-button routerLink="/games">
                <mat-icon class="fs-24">navigate_before</mat-icon>
                Back to the fields
            </button>
        </div>
        <!-- <div fxFlex> -->
        <iframe id="closingI" src="https://pickerwheel.com/" width="100%" height="800px" scrolling="yes"
            frameborder="0"></iframe>
        <!-- </div> -->
    </div>
</div>