@import "src/app/app.component.scss";

mat-card {
    max-width: 270px;
    min-height: 270px;
    font-size: 24px;
    line-height: 36px;
    margin-right: 8px;
    padding: 8px;
    i,
    mat-icon {
        font-size: 15px;
        width: 24px;
        height: 24px;
        min-width: 24px;
        min-height: 32px;
        line-height: 14px;
    }
}
h1 {
    font-size: 45px;
    margin-top: 8px;
}
.place_1 {
    border: 2px solid yellow;
    margin-top: 80px;
    max-width: 400px;
    min-height: 300px;
    background-color: rgb(248, 248, 151) !important;
    color: black !important;
    mat-card-subtitle {
        color: black !important;
    }
    background: url("~/assets/images/custom/team/1st.png") no-repeat;
    background-size: contain;
    background-position: right;
    background-blend-mode: darken;
}
.place_2 {
    max-width: 400px;
    margin-left: 270px;
    min-height: 300px;
    border: 2px solid rgb(147, 147, 147);
    background-color: rgb(252, 252, 241) !important;
    color: black !important;
    mat-card-subtitle {
        color: black !important;
    }
    background: url("~/assets/images/custom/team/2nd.png") no-repeat;
    background-size: contain;
    background-position: right;
    background-blend-mode: darken;
}
.place_3 {
    max-width: 400px;
    margin-right: 270px;
    min-height: 300px;
    border: 2px solid rgb(105, 69, 3);
    background-color: rgb(255, 168, 110) !important;
    color: black !important;
    mat-card-subtitle {
        color: black !important;
    }
    background: url("~/assets/images/custom/team/3rd.png") no-repeat;
    background-size: contain;
    background-position: right;
    background-blend-mode: darken;
}
.place_4 {
    border: 2px solid rgb(22, 84, 31);
    background-color: rgb(110, 255, 115) !important;
    color: black !important;
    mat-card-subtitle {
        color: black !important;
    }
}
.place_5 {
    border: 2px solid rgb(22, 84, 31);
    background-color: rgb(110, 255, 115) !important;
    color: black !important;
    mat-card-subtitle {
        color: black !important;
    }
}
.place_6 {
    border: 2px solid rgb(22, 84, 31);
    background-color: rgb(110, 255, 115) !important;
    color: black !important;
    mat-card-subtitle {
        color: black !important;
    }
}
.place_7 {
    border: 2px solid rgb(22, 84, 31);
    background-color: rgb(110, 255, 115) !important;
    color: black !important;
    mat-card-subtitle {
        color: black !important;
    }
}
.place_8 {
    border: 2px solid rgb(22, 84, 31);
    background-color: rgb(110, 255, 115) !important;
    color: black !important;
    mat-card-subtitle {
        color: black !important;
    }
}
.place_9 {
    border: 2px solid rgb(22, 84, 31);
    background-color: rgb(110, 255, 115) !important;
    color: black !important;
    mat-card-subtitle {
        color: black !important;
    }
}
.place_10 {
    border: 2px solid rgb(22, 84, 31);
    background-color: rgb(110, 255, 115) !important;
    color: black !important;
    mat-card-subtitle {
        color: black !important;
    }
}

// .container {
//     display: grid;
//     grid-template-columns: minmax(20px, auto) 1fr 1fr;
// }
.mat-grid-list {
    position: inherit;
}
.mat-grid-tile {
    padding: 200px;
    top: 80px;
}
.banner {
    position: absolute;
    margin-top: -150px;
}
