@import "src/@fuse/scss/fuse";
@import url("https://fonts.googleapis.com/css2?family=Nerko+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Langar&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ranchers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");

:host {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
    min-width: 0;

    .theme-options-button {
        position: absolute;
        top: 160px;
        right: 0;
        width: 48px;
        height: 48px;
        line-height: 48px;
        text-align: center;
        cursor: pointer;
        border-radius: 0;
        margin: 0;
        pointer-events: auto;
        opacity: 0.9;
        z-index: 998;

        &.right-side-panel {
            @include media-breakpoint("gt-md") {
                right: 70px;
            }
        }

        &.side-panel-hidden {
            right: 0 !important;
        }

        mat-icon {
            animation: rotating 3s linear infinite;
        }

        &:hover {
            opacity: 1;
        }
    }

    .theme-options-sidebar {
        width: 360px;
        min-width: 360px;
        max-width: 360px;
    }
}

.content {
    width: 100%;
    .mat-raised-button {
        line-height: 25px;
    }
    .fs-24 {
        font-size: 24px !important;
    }
    .fs-16 {
        font-size: 16px !important;
    }
    .fs-12 {
        font-size: 12px !important;
    }
    .fs-8 {
        font-size: 8px !important;
    }
    fuse-sidebar {
        width: 420px;
        max-width: 420px;
        mat-icon {
            font-size: 24px;
        }
    }

    .mat-slider-horizontal {
        width: 900px;
    }
    i,
    mat-icon {
        font-size: 40px;
    }

    .games {
        mat-card {
            width: 400px;
            i,
            mat-icon {
                font-size: 20px;
                width: 24px;
                height: 24px;
                min-width: 24px;
                min-height: 32px;
                line-height: 14px;
            }
        }
    }

    ::ng-deep {
        .mat-slider.mat-slider-horizontal .mat-slider-wrapper {
            top: 18px;
        }
        .mat-slider.mat-slider-horizontal .mat-slider-track-wrapper {
            height: 12px;
            border-radius: 10px;
        }
        .mat-slider.mat-slider-horizontal .mat-slider-track-background,
        .mat-slider.mat-slider-horizontal .mat-slider-track-fill {
            height: 100%;
        }
        .mat-slider.mat-slider-horizontal .mat-slider-track-fill {
            background-color: blue;
        }
        .mat-accent .mat-slider-thumb {
            height: 30px;
            width: 30px;
            background-color: white;
            border: solid 2px gray;
            bottom: -20px;
            right: -20px;
        }
        .mat-slider-min-value:not(.mat-slider-thumb-label-showing)
            .mat-slider-thumb {
            background-color: white;
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
::ng-deep span,
button,
div,
b,
::ng-deep.mat-step-label {
    font-family: "Krona One", sans-serif !important;
}
.mute_true {
    position: fixed;
    cursor: pointer;
    background-color: #b71c1c !important;
    right: 30px;
    top: 80px;
    z-index: 9999;
    mat-icon {
        font-size: 24px;
    }
}
.mute_false {
    position: fixed;
    cursor: pointer;
    background-color: #1cb72e !important;
    right: 30px;
    top: 80px;
    z-index: 9999;
    mat-icon {
        font-size: 24px;
    }
}

